* {
  box-sizing: border-box;
}
body {
  color: white;
  background: transparent;

  margin: 0;
  padding: 0;

  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  line-height: 1.5rem;
  text-shadow: 0 0 0.1rem #000, 0 0 0.125rem #000, 0 0 0.125rem #000;
}
.debug {
  background: rgba(127, 127, 127, 0.1);
}

.hidden {
  display: none;
}

p {
  margin: 0;
}
h1 {
  margin: 0.25rem 0;
  font-size: 1.25rem;
}
.target-info {
  display: flex;
}
.config {
  display: none
}
.debug .config {
  display: block
}
article {
  height: 3rem;
  width: 10rem;

  margin-right: 1.75rem;

  text-align: right;
  white-space: nowrap;

  color: #fff;

  opacity: 1;
  transition: 100ms opacity cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
article:last-of-type {
  margin-right: 0;
}
.debug article {
  border: 1px solid red;
}
article.with-casting {
  display: flex;
  width: 20rem;

  align-items: flex-end;
  justify-content: flex-end;
}
article.with-casting > p {
  display: inline-block;
  margin-left: 0.5rem;
}
article.disabled {
  opacity: 0;
}
.gauge {
  margin-top: 1.1875rem;
  width: 100%;
  height: 0.4375rem;
  border: 0.0625rem solid #eee;

  border-radius: 0.1rem;
}
p + .gauge {
  margin-top: -0.25rem;
}
.gauge + p {
  margin-top: -0.125rem;
  float: right;
}
.gauge.hidden + p {
  margin-top: 0;
}
.gauge > .bar {
  display: inline-block;
  float: left;

  height: 100%;
  background: white;
}

.autoattack article[data-key="Target"] {
  padding-right: 2.5rem;
}
.with-unit::after {
  display: inline;
  content: 'm';
}
.yalm .with-unit::after {
  content: 'y';
}

/* Colors for type */

article[data-type='1'] { /* 0x1: Player */
  color: #95cbf1;
  text-shadow: 0 0 0.1rem #333, 0 0 0.125rem #333, 0 0 0.125rem #333;
}
article[data-type='1'] .gauge {
  background: #172126;
  border-color: #95cbf1;
  box-shadow: 0 0 0.125rem #333, 0 0 0.25rem #333, 0 0 0.25rem #333;
}
article[data-type='1'] .bar { background-color: #95cbf1; }

article[data-type='2'] { /* 0x2: Monster */
  color: #ffb8b8;
  text-shadow: 0 0 0.1rem #c00, 0 0 0.125rem #c00, 0 0 0.125rem #c00;
}
article[data-type='2'] .gauge {
  background: #401111;
  border-color: #ffb8b8;
  box-shadow: 0 0 0.125rem #c00, 0 0 0.25rem #c00, 0 0 0.25rem #c00;
}
article[data-type='2'] .bar { background-color: #ffb8b8; }

article[data-type='3'] { /* 0x3: NPC */
  color: #e6ffde;
  text-shadow: 0 0 0.1rem #608050, 0 0 0.125rem #608050, 0 0 0.125rem #608050;
}
article[data-type='3'] .gauge {
  background: #608050;
  border-color: #e6ffde;
  box-shadow: 0 0 0.125rem #608050, 0 0 0.25rem #608050, 0 0 0.25rem #608050;
}
article[data-type='3'] .bar { background-color: #e6ffde; }

/* 0x5: Aetheryte */
/* 0x6: Gathering */
/* 0x7: 사물 */
/* 0x9: Minion */
/* 0xC: 하우징 가구 */

article[data-type='7'] .gauge, article[data-type='12'] .gauge {
  display: none;
}
